<app-job-filter [tags]="selectedToolTags"
                (tagRemoved)="tagRemovedHandler($event)"
                (filterCleared)="
                filterClearedHandler($event)"></app-job-filter>

<ul class="job-cards">

    <li class="card"
        *ngFor="let job of filteredJobs">

        <div class="card-image">
            <img src="assets/images/faceit.svg"
                 alt="company logo">
        </div>

        <div class="card-main">
            <div class="title-section">
                <h4 class="job-company">{{ job.company }}</h4>
                <button class="new-tag"
                        *ngIf=job.new>New</button>
                <button class="featured-tag"
                        *ngIf=job.featured>Featured</button>
            </div>
            <h3 class="job-position"
                (click)="openJobDetail(job)">{{ job.position }}</h3>
            <h5 class="job-others">{{ job.postedAt }}&emsp;·&emsp;{{ job.contract }}&emsp;·&emsp;{{ job.location }}</h5>
        </div>

        <div class="tool-tags-section">
            <ng-container *ngFor="let tag of job.tools">
                <app-tool-tag class="tag tool-tag"
                              (click)=addTool(tag)
                              [name]=tag></app-tool-tag>
            </ng-container>
        </div>
    </li>
</ul>