<div class="card animate-face-in">
    <div class="card-image">
        <img src="assets/images/faceit.svg"
             alt="company logo">
    </div>

    <div class="card-main">
        <div class="title-section">
            <h4 class="job-company">{{ job.company }}</h4>

            <app-tool-tag *ngIf=job.new
                          (buttonClicked)=onAddTool(newTag)
                          [name]=newTag>
            </app-tool-tag>

            <ng-container *ngIf=job.featured>
                <app-tool-tag (buttonClicked)=onAddTool(featuredTag)
                              [name]=featuredTag>
                </app-tool-tag>
            </ng-container>
        </div>
        <h3 class="job-position">{{ job.position }}</h3>
        <h5 class="job-others">{{ job.postedAt }}&emsp;·&emsp;{{ job.contract }}&emsp;·&emsp;{{ job.location }}
        </h5>
    </div>

    <div class="tool-tags-section">
        <ng-container *ngFor="let tag of job.tools">
            <app-tool-tag (buttonClicked)=onAddTool(tag)
                          [name]=tag></app-tool-tag>
        </ng-container>
    </div>
</div>