
.tag {
    border: none;
    font-weight: 700;
    margin-left: 1.5rem;
    cursor:pointer;

    &:hover, &:focus {
        opacity: 0.8!important;
        transition: all 0.3;
    }
}

.tool-tag {
    background-color: hsl(180, 52%, 96%);
    color: hsl(180, 29%, 50%);
    padding: 0.5rem 0.75rem;
}
