//colors
$primary-color: hsl(180, 29%, 50%);
$background-color: hsl(180, 52%, 96%);

$light-gray: hsl(180, 31%, 95%);
$medium-gray: hsl(180, 8%, 52%);
$dark-gray: hsl(180, 14%, 20%);

//base
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px  (10/16 = 62.5)
  overflow-y: scroll;
}

body {
  min-width: fit-content;
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  line-height: 1.7;
  font-size: 1.6rem;

  background-color: $background-color;
  //   background-size: cover;
  //   background-repeat: no-repeat;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

ul {
  list-style: none;
}

button,
a {
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.8 !important;
    transition: all 0.3;
  }
}

// .animate-fade-in {
//   animation-duration: 0.5s;
//   animation-name: animate-pop;
//   animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
// }

// .animate {
//   animation-duration: 0.5s;
//   animation-name: animate-pop;
//   animation-timing-function: ease-in;
// }

// @keyframes animate-pop {
//   0% {
//     opacity: 0;
//     transform: scale(0.8, 0.8);
//   }

//   100% {
//     opacity: 1;
//     transform: scale(1, 1);
//   }
// }
